<form [formGroup]="shoppingItemForm" class="form" (ngSubmit)="onSubmit()">
  <div class="container  mat-elevation-z8">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <mat-form-field>
          <mat-select name="name" formControlName="name" [(ngModel)]="selectedItem" placeholder="Item">
            <mat-option *ngFor="let food of inventory" [value]="food">
              {{food.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="shoppingItemForm.controls['name'].hasError('required')">required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Qty" min="1" [(ngModel)]="selectedItem.quantity" type="number" step="1"
            formControlName="quantity" required>
          <mat-error *ngIf="shoppingItemForm.controls['quantity'].invalid">required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <mat-form-field>
          <input matInput placeholder="Price" min="0" step="0.01" type="number" formControlName="price" required
            [(ngModel)]="selectedItem.price">
          <mat-error *ngIf="shoppingItemForm.controls['price'].invalid">required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <button mat-raised-button color="primary" type="submit">Add</button>
      </div>
    </div>
  </div>
</form>